body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
  background-image: url(Dance-floor.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}
.alexDancer {
  border: none;
  content:url("alexhead.png");
  height: 20%;
  position:absolute;
}
.robinDancer {
  border: none;
  content:url("robinhead.png");
  position:absolute;
  width: 20%;
  height: 10%;
}
.bob {
  border: none;
  content:url("Pga3sc2RSRgBO.gif");
  position:absolute;
  width: 6%;
  height: 15%;
}